<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(90deg,rgba(243,231,242,0.9),rgba(194,109,188,0.9)), url(https://i.pinimg.com/564x/6f/c4/76/6fc476c7bf52d205f3c68b8dfe32276b.jpg) ;
        background-size: cover;
        padding: 10px;
      }
    </style>
  </head>
  <body></body>
  <footer> 
      <div class="footer">
        <div class="container-fluid" style="background-color: #C26DBC;">
            <h3 style="color: white ;">About us</h3>
            <p style="color:white;">Eat better is a website that is dedicated to 
                help you find the best restaurant reffering 
                to the ratings of our users and to the type
                of food each restaurant is offering, you can send 
                a request everytime you need a recommendation and our
                admins would suggest you the best destination.
            </p>
        </div>
    </div>
  </footer> 
</html>


