<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
      body {
        background-image: linear-gradient(90deg,rgba(243,231,242,0.9),rgba(194,109,188,0.9)), url(https://i.pinimg.com/564x/6f/c4/76/6fc476c7bf52d205f3c68b8dfe32276b.jpg) ;
        background-size: cover;
      }
      </style>
</head>
<body>
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>eat better</title>
    <style>
      body {
        background-image: linear-gradient(90deg,rgba(243,231,242,0.9),rgba(194,109,188,0.9)), url(https://i.pinimg.com/564x/6f/c4/76/6fc476c7bf52d205f3c68b8dfe32276b.jpg) ;
        background-size: cover;
       
      }
      </style>
</head>
<body>
    <div class="container">
       
        <div class="row" style="margin-top: 20px;">
            <div class="card" style="width: 18rem; margin-left: 15PX; margin-bottom: 15PX;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf1XcrnANM9HwDKDIv94VCENM0WcnimQ7fRg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Le Zink</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p class="card-text">Restaurant offering American food</p></li>
                    <li class="list-group-item"> <span class="badge text-bg-secondary" style="margin-left: 15px;">American</span>
                        <span class="badge text-bg-secondary" style="margin-left: 15px;">Burger</span></li>
                    <li class="list-group-item"><a href="#" class="btn" style="background-color: #e6d1e6;">See more details</a></li>
                  </ul>
                </div>
              </div>
              <div class="card" style="width: 18rem; margin-left: 15PX; margin-bottom: 15PX;">
                <img src="https://cdn.klfoodie.com/2022/11/KFC.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">KFC</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p class="card-text">Restaurant offering fried chicken and chicken burgers</p></li>
                    <li class="list-group-item"> <span class="badge text-bg-secondary" style="margin-left: 15px;">American</span>
                        <span class="badge text-bg-secondary" style="margin-left: 15px;">Burger</span></li>
                    <li class="list-group-item"><a href="#" class="btn" style="background-color: #e6d1e6;">See more details</a></li>
                  </ul>
                </div>
              </div>
              <div class="card" style="width: 18rem; margin-left: 15PX; margin-bottom: 15PX;">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/12/36/59/41/photo4jpg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pasta Cosi</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p class="card-text">Restaurant offering italian pasta</p></li>
                    <li class="list-group-item"> <span class="badge text-bg-secondary" style="margin-left: 15px;">Italian</span>
                    <li class="list-group-item"><a href="#" class="btn" style="background-color: #e6d1e6;">See more details</a></li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
</body>

</html>